<div>
    <form method="POST" action="/new">
        <label for="author">Author:</label>
        <input type="text" id="author" class="authorname" name="author">
        <label for="message">Message</label>
        <input type="text" id="message" class="message" name="message">
        <button type="submit">Submit</button>
    </form>
</div>