<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% messages.forEach((message) => { %>
      <ul>
        <li class="info">
          <%= message.user %>
          <%= message.text %>
          <%= message.added %>
        </li>
      </ul>
    <% }) %>
  </body>
</html>
